@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Work+Sans:ital,wght@1,900&display=swap');

#fitness {
    font-family: 'Work Sans', sans-serif;
    font-family: 'Cinzel', serif;

    >.header {
        width: 100%;
        height: 100vh;
        background-color: rgb(15, 15, 15);
        background-image: url(../img/bg_2.jpg);
        background-position: 650px;
        background-repeat: no-repeat;
        background-size: 650px;
        position: relative;

        >header {
            width: 100%;
            display: flex;
            justify-content: space-around;
            // border: 1px solid black;
            height: 50px;
            align-items: center;

            >h2 {
                font-size: 30px;
                background-image: url(../img/logo-bg.jpg);
                background-clip: text;
                color: transparent;
                text-transform: uppercase;
                animation: cross 3s linear infinite alternate;
                background-repeat: no-repeat;
                background-size: cover;
                margin-top: 40px;
            }

            @keyframes cross {
                to {
                    background-position: -200px;
                }
            }

            >nav {
                width: 50%;
                // background-color: blue;
                height: 20px;
                display: flex;
                height: 100%;
                align-items: flex-end;
                margin-top: 40px;
                margin-left: 200px;

                >ul {
                    width: 100%;
                    // border: 1px solid white;
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;

                    >li {
                        width: 15%;
                        // background-color: yellow;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        >a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        &:nth-of-type(1) {
                            >a {
                                color: red;
                            }
                        }

                        &:hover>a {
                            color: red;
                        }
                    }
                }
            }
        }

        >div {
            width: 80%;
            position: absolute;
            top: 150px;
            left: 150px;
            // border: 1px solid green;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            >h1 {
                background-repeat: no-repeat;
                background-size: cover;
                font-size: 250px;
                background-image: url(../img/bg_1.jpg);
                background-clip: text;
                color: transparent;
                text-transform: uppercase;
                text-align: center;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Work Sans', sans-serif;
            }

            >span {
                color: white;
                font-family: 'Work Sans', sans-serif;
                font-size: 20px;
            }
        }
    }

    >.pricing {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        flex-wrap: wrap;

        >div {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            // border: 2px solid white;
            &:nth-of-type(1) {
                >h5 {
                    font-family: 'Work Sans', sans-serif;
                    font-family: 'Cinzel', serif;
                    font-size: 15px;
                    color: red;
                    display: flex;
                    width: 100%;
                    justify-content: center;

                    >i {
                        color: red;
                    }
                }

                >h2 {
                    color: white;
                    font-family: 'Work Sans', sans-serif;
                    font-family: 'Cinzel', serif;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin-top: 10px;
                }

                >p {
                    margin-top: 10px;
                    color: grey;
                }
            }

            &:nth-of-type(2) {
                width: 85%;
                margin-top: 20px;

                >article {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    >figure {
                        width: 30%;
                        position: relative;

                        &:hover {
                            >div {
                                opacity: 1;
                            }

                            >figcaption {
                                top: 250px;
                                opacity: 0;
                            }
                        }

                        >img {
                            width: 100%;
                            height: 400px;
                            // background-color: aquamarine;
                            object-fit: cover;
                        }

                        >figcaption {
                            width: 100%;
                            height: 100px;
                            position: absolute;
                            top: 320px;
                            left: 0;
                            padding-left: 20px;
                            transition: .4s;

                            >span {
                                font-size: 20px;
                                color: white;
                                text-transform: uppercase;
                            }

                            >p {
                                color: grey;
                                margin-top: 10px;
                            }
                        }

                        >div {
                            width: 100%;
                            height: 400px;
                            position: absolute;
                            top: 0%;
                            left: 0%;
                            border: 2px solid red;
                            display: flex;
                            flex-wrap: wrap;
                            align-content: flex-end;
                            background-color: rgba(10, 10, 10, 0.507);
                            opacity: 0;
                            transition: 1s;
                            padding-left: 20px;

                            >a {
                                &:nth-of-type(1) {
                                    left: 70%;
                                    display: flex;
                                    background-color: red;
                                    width: 95px;
                                    height: 40px;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    font-weight: bold;
                                    border-radius: 0 0 0 10px;
                                }

                                &:nth-of-type(2) {
                                    display: flex;
                                    width: 100%;
                                    text-transform: uppercase;
                                    font-size: 20px;
                                    margin-top: 10px;
                                }
                            }

                            >span {
                                font-size: 40px;
                                color: red;
                                text-transform: uppercase;
                            }

                            >p {
                                font-size: 13px;
                                color: rgb(170, 170, 170);
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .crossfit {
        width: 100%;
        margin-top: 100px;
        background-color: rgb(12, 12, 12);
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;

        >div {
            width: 90%;
            height: 1000px;
            // background-color: red;
            display: flex;
            flex-wrap: nowrap;

            >div {
                width: 50%;

                >div {
                    width: 100%;
                    // background-color: blue;
                    direction: rtl;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 40px;

                    >svg {
                        width: 15%;
                        fill: red;

                        >circle {
                            &:nth-of-type(2) {
                                stroke-width: 10px;
                                stroke: aliceblue;
                            }
                        }
                    }

                    >div {
                        width: 80%;

                        // border: 1px solid yellow;
                        >h4 {
                            color: white;
                            font-size: 27px;
                            font-weight: bold;
                        }

                        >p {
                            color: grey;
                            margin-top: 10px;

                        }
                    }
                }
            }

            >figure {
                width: 50%;
                height: 100%;

                // background-color: green;
                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;

                }

            }
        }
    }

    .trainer {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        >div {
            display: flex;
            justify-content: center;
            width: 80%;
            align-items: center;
            flex-wrap: wrap;

            &:nth-of-type(1) {
                >h5 {
                    font-family: 'Work Sans', sans-serif;
                    font-family: 'Cinzel', serif;
                    font-size: 15px;
                    color: red;
                    display: flex;
                    width: 100%;
                    justify-content: center;

                    >i {
                        color: red;
                    }
                }

                >h2 {
                    color: white;
                    font-family: 'Work Sans', sans-serif;
                    font-family: 'Cinzel', serif;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin-top: 10px;
                }

                >p {
                    margin-top: 10px;
                    color: grey;
                    text-align: center;
                }
            }

            &:nth-of-type(2) {
                // border: 1px solid red;
                margin-top: 10px;

                >article {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: flex-start;

                    >figure {
                        width: 49%;
                        height: 400px;
                        // background-color: rgb(255, 127, 255);
                        display: flex;
                        justify-content: center;
                        flex-wrap: nowrap;
                        margin-top: 30px;

                        &:nth-of-type(3),
                        &:nth-of-type(4) {
                            >figcaption {
                                >span:nth-of-type(1) {
                                    left: 95%;
                                }
                            }
                        }

                        >img {
                            width: 50%;
                            height: 100%;
                            object-fit: cover;
                            // border: 1px solid blue;
                        }

                        >figcaption {
                            width: 50%;
                            height: 100%;
                            display: flex;
                            justify-content: start;
                            padding: 0px 40px;
                            // border: 1px solid rgb(17, 194, 91);
                            flex-wrap: wrap;
                            position: relative;

                            >span {
                                &:nth-of-type(1) {
                                    display: flex;
                                    width: 50px;
                                    background-color: red;
                                    height: 0.5px;
                                    position: absolute;
                                    top: 40px;
                                    left: -40px;
                                }

                                &:nth-of-type(2) {
                                    color: red;
                                    font-size: 11px;
                                    font-weight: bold;
                                }
                            }

                            >h3 {
                                color: white;
                                font-size: 30px;
                            }

                            >p {
                                color: grey;
                                text-align: left;
                            }

                            >div {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: 20px;

                                >a {
                                    width: 30%;
                                    height: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: red;
                                    font-size: 25px;
                                    color: white;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .articles {
        margin-top: 80px;
        width: 100%;
        // border-top: 1px solid red;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

        >div {
            display: flex;
            justify-content: center;
            width: 90%;
            align-items: center;
            flex-wrap: wrap;

            &:nth-of-type(1) {
                flex-grow: 1;

                >h5 {
                    font-family: 'Work Sans', sans-serif;
                    font-family: 'Cinzel', serif;
                    font-size: 15px;
                    color: red;
                    display: flex;
                    width: 100%;
                    justify-content: center;

                    >i {
                        color: red;
                    }
                }

                >h2 {
                    color: white;
                    font-family: 'Work Sans', sans-serif;
                    font-family: 'Cinzel', serif;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    margin-top: 10px;
                }

                >p {
                    margin-top: 10px;
                    color: grey;
                    text-align: center;
                }
            }

            &:nth-of-type(2) {
                // border: 1px solid greenyellow;
                margin-top: 30px;

                >article {
                    width: 100%;
                    height: 500px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    >figure {
                        width: 30%;
                        height: 100%;
                        // border: 1px solid goldenrod;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;

                        >img {
                            width: 100%;
                            height: 70%;
                            object-fit: cover;
                        }

                        >figcaption {
                            width: 100%;
                            height: 30%;
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: space-evenly;

                            >div {
                                &:nth-of-type(1) {
                                    width: 20%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-wrap: wrap;

                                    >span {
                                        display: flex;
                                        justify-content: center;

                                        &:nth-of-type(1) {
                                            color: red;
                                            font-size: 50px;
                                        }

                                        &:nth-of-type(2) {
                                            color: grey;
                                            font-size: 16px;
                                        }
                                    }
                                }

                                &:nth-of-type(2) {
                                    width: 70%;
                                    display: flex;
                                    justify-content: left;
                                    align-items: center;
                                    flex-wrap: wrap;

                                    >a {
                                        font-size: 16px;
                                        margin-top: 40px;
                                    }

                                    >p {
                                        color: grey;
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(20, 20, 20);
        margin-top: 50px;

        >footer {
            width: 90%;
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;

            >div {
                display: flex;
                // border: 1px solid red;
                height: 350px;

                >h3 {
                    color: white;
                    font-size: 20px;
                }

                &:nth-of-type(1) {
                    width: 20%;
                    display: flex;
                    justify-content: start;
                    flex-wrap: wrap;
                    padding-left: 10px;
                    height: 400px;
                    padding-top: 20px;

                    >p {
                        color: grey;
                        text-align: justify;
                    }

                    >div {
                        width: 100%;
                        padding: 20px;
                        height: 100px;
                        // border: 1px solid green;
                        display: flex;
                        justify-content: space-around;

                        >a {
                            display: flex;
                            width: 20%;
                            height: 40px;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            font-size: 25px;
                            border-radius: 50%;
                            background-color: rgb(24, 24, 24);
                        }
                    }
                }

                &:nth-of-type(2) {
                    width: 35%;
                    padding-left: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: start;
                    align-items: flex-start;
                    padding-top: 20px;

                    >div {
                        width: 100%;
                        height: 70%;
                        display: flex;
                        justify-content: start;
                        flex-wrap: wrap;

                        >figure {
                            width: 100%;
                            height: 40%;
                            // border: 1px solid green;
                            display: flex;
                            flex-wrap: nowrap;

                            >img {
                                width: 30%;
                                height: 100%;
                                object-fit: cover;
                            }

                            >figcaption {
                                width: 70%;
                                padding-left: 10px;
                                display: flex;
                                flex-wrap: wrap;

                                >a {
                                    display: flex;
                                    width: 100%;
                                    font-size: 16px;

                                    &:hover {
                                        color: red;
                                    }
                                }

                                >div {
                                    width: 100%;

                                    >span {
                                        font-size: 12px;
                                        color: grey;
                                    }
                                }
                            }
                        }
                    }
                }

                &:nth-of-type(3) {
                    width: 15%;
                    display: flex;
                    flex-wrap: wrap;
                    padding-top: 20px;
                    padding-left: 15px;

                    >div {
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        // border: 1px solid red;
                        height: 90%;
                        padding: 30px 0px;

                        >a {
                            display: flex;
                            width: 100%;
                            justify-content: flex-start;
                            color: grey;

                            &:hover {
                                color: white;
                            }
                        }
                    }
                }

                &:nth-of-type(4) {
                    width: 30%;
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 5px;
                    justify-content: start;
                    align-items: baseline;
                    margin-top: 20px;

                    >div {
                        // border: 1px solid green;
                        width: 100%;
                        height: 60%;
                        display: flex;
                        justify-content: start;
                        flex-wrap: wrap;

                        >p {
                            color: azure;
                            font-size: 15px;
                            display: flex;
                            width: 100%;
                            justify-content: flex-start;
                            // background-color: aquamarine;
                            height: 70px;
                            font-weight: bold;

                            >i {
                                margin-right: 10px;
                            }
                        }

                        >span {
                            color: azure;
                            font-size: 15px;
                            display: flex;
                            width: 100%;
                            justify-content: start;
                            // background-color: yellow;
                            height: 70px;
                            font-weight: bold;

                            >i {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}